spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: user_service
    password: user_service

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

server:
  port: 8081
